USE [QLVacxin]
GO
/****** Object:  Table [dbo].[BENH]    Script Date: 12/13/2018 7:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENH](
	[MaBenh] [int] NOT NULL,
	[TenBenh] [nvarchar](50) NULL,
	[MoTa] [nvarchar](100) NULL,
 CONSTRAINT [PK_BENH] PRIMARY KEY CLUSTERED 
(
	[MaBenh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/13/2018 7:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] NOT NULL,
	[HoTenKH] [nvarchar](50) NULL,
	[SoDienThoai] [nvarchar](10) NULL,
	[DiaChiKH] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [int] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUTIEMPHONG]    Script Date: 12/13/2018 7:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUTIEMPHONG](
	[MaKH] [int] NOT NULL,
	[MaVacxin] [int] NOT NULL,
	[STTMui] [int] NOT NULL,
	[NgayTiemPhong] [date] NULL,
	[NgayHenTiepTheo] [date] NULL,
 CONSTRAINT [PK_LICHSUTIEMPHONG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC,
	[MaVacxin] ASC,
	[STTMui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGBENH]    Script Date: 12/13/2018 7:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBENH](
	[MaVacxin] [int] NOT NULL,
	[MaBenh] [int] NOT NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_PHONGBENH] PRIMARY KEY CLUSTERED 
(
	[MaVacxin] ASC,
	[MaBenh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VACXIN]    Script Date: 12/13/2018 7:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VACXIN](
	[MaVacxin] [int] NOT NULL,
	[TenVacxin] [nvarchar](100) NULL,
	[SoMui] [int] NULL,
	[MoTa] [nvarchar](100) NULL,
	[TenHangSX] [nvarchar](50) NULL,
 CONSTRAINT [PK_VACXIN] PRIMARY KEY CLUSTERED 
(
	[MaVacxin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LICHSUTIEMPHONG]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUTIEMPHONG_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[LICHSUTIEMPHONG] CHECK CONSTRAINT [FK_LICHSUTIEMPHONG_KHACHHANG]
GO
ALTER TABLE [dbo].[LICHSUTIEMPHONG]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUTIEMPHONG_VACXIN] FOREIGN KEY([MaVacxin])
REFERENCES [dbo].[VACXIN] ([MaVacxin])
GO
ALTER TABLE [dbo].[LICHSUTIEMPHONG] CHECK CONSTRAINT [FK_LICHSUTIEMPHONG_VACXIN]
GO
ALTER TABLE [dbo].[PHONGBENH]  WITH CHECK ADD  CONSTRAINT [FK_PHONGBENH_BENH] FOREIGN KEY([MaBenh])
REFERENCES [dbo].[BENH] ([MaBenh])
GO
ALTER TABLE [dbo].[PHONGBENH] CHECK CONSTRAINT [FK_PHONGBENH_BENH]
GO
ALTER TABLE [dbo].[PHONGBENH]  WITH CHECK ADD  CONSTRAINT [FK_PHONGBENH_VACXIN] FOREIGN KEY([MaVacxin])
REFERENCES [dbo].[VACXIN] ([MaVacxin])
GO
ALTER TABLE [dbo].[PHONGBENH] CHECK CONSTRAINT [FK_PHONGBENH_VACXIN]
GO
